h1 {
    color: black;
    font-family: "Playfair Display", serif;
    font-weight: bold;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}

.hero {
    background: #fad7a1;
    text-align: center;
    padding: 160px 20px;
}

.hero p {
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.hero h2 {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    line-height: 2;
    font-size: 20px;
}

.btn-primary{
    margin-top: 20px;
    line-height: 20px;
    padding: 10px 10px;
}